/* PC */
@media (min-width: 1024px ) {
    
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    
}

/* Mobile */
@media (max-width: 739px) {
    .mobile-col {
        width: 100%;
    }

    .full-width {
        width: 100% !important;
        text-align: center;
    }

    #header {
        overflow: hidden;
    }

    #header .search-btn {
        display: none;
    }

    #header .mobile-menu-btn {
        display: block;
    }

    #slider .slider-text {
        display: none;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }

    #header #nav .sub-nav {
        display: none;
        position: initial;
        background-color: #333;
        color: #fff;
    }

    #header #nav .open-sub-nav {
        display: block;
    }
    
    #nav .sub-nav a {
        background-color: #333;
        color: #fff;
        padding: 12px 40px;
    }

    #band div:last-child  div:last-child img {
        margin-bottom: 0;
    }

    #contact .form-control {
        margin-top: 16px;
        margin-left: -8px;
        margin-right: -8px;
    }
}
