/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#main {

}

#header {
    background-color: #000;
    width: 100%;
    height: 46.4px;
}

#nav {

}

#nav li {
    display: inline-block;
}

#nav li a {
    line-height: 46.4px;
    padding: 0 24px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

#nav li:hover a {
    display: inline-block;
    background-color: #ccc;
}

#nav .subnav {
    display: none;
}

#slider {

}

#content {

}

#footer {

}



