:root {
    --nav-height: 46.4px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Lato, 'Segoe UI', Tahoma, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    scroll-behavior: smooth;
}

/* Reuse class */

.white-text {
    color: #fff !important;
}

.row {
    display: inline-block;
    margin: 0 -8px;
}

.row::after {
    clear: both;
}

.col {
    float: left;
    padding: 0 8px;
    display: block;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 50%;
    text-align: center;
}

.col-third {
    width: calc(100% / 3);
    text-align: center;
}

.section {
    width: 800px;
    max-width: 100%;
    padding: 64px 16px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.py-32 {
    padding-top: 32px;
    padding-bottom: 32px;
}

.p-16 {
    padding: 16px;
}

.my-16 {
    margin: 16px 0;
}

.my-10 {
    margin: 10px 0;
}

.btn {
    display: inline-block;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    background-color: #000;
    border: none;
    padding: 8px 16px;
    border-radius: 2px;
}

.btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}

/* Main */

/* Header */
#header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    height: var(--nav-height);
    background-color: #000;
    position: fixed;
    z-index: 1;
}

/* Navigation */

#nav {
    display: inline-block;
    font-size: 0;
}

#nav > li {
    position: relative;
    display: inline-block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    padding: 12px 24px;
}

#nav li a {
    display: block;
    font-size: 15px;
    line-height: 1.5;
    text-decoration: none;
}

#nav > li:hover > a,
#nav .sub-nav li:hover a {
    background-color: #ccc;
    color: #000;
}

#nav > li:hover > .sub-nav {
    display: block;
}

#nav .sub-nav {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}

#nav .sub-nav a {
    background-color: #fff;
    color: #000;
    padding: 8px 16px;
}

#header .search-btn {
    float: right;
    color: #fff;
    padding: 12px 24px;
    font-size: 15px;
    font-weight: bolder;
    line-height: 1.5;
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

/* Slider */

#slider {
    position: relative;
    margin-top: var(--nav-height);
    width: 100%;
    padding-top: 50%;
    background: url(../img/slider/slider1.jpg) top center / cover no-repeat;
}

#slider .slider-text {
    
    position: absolute;
    padding: 32px 16px;
    bottom: 0;
    color: #fff;
    text-align: center;
    width: 100%;
}

#slider .heading-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    line-height: 1.5;
}

#slider .description-text {
    font-weight: bold;
}

/* Content */

#content .section-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

#content .section-slogan {
    display: block;
    font-style: italic;
    opacity: 0.6;
}

/* Band section */

#band .band-description {
    text-align: justify;
}

#band .team-avt {
    width: 60%;
    border-radius: 6px;
    margin-bottom: 16px;
}

/* Tour section */

#tour{
    background-color: #000;
    color: #fff;;
}

#tour .month-list {
    background-color: #fff;
    color: #757575;
    margin-top: 32px;
}

#tour .month-list li {
    list-style-type: none;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 8px 16px;
}

#tour .sold-out {
    padding: 4px 8px;
    background-color: #f44336;
    margin-left: 16px;
    color: #fff;
}

#tour .quantity {
    float: right;
    background-color: #000;
    color: #fff;
    padding: 0px 7px;
    border-radius: 50%;
}

#tour .place {
    padding: 32px 0;
}

.place .place-info {
    
    background-color: #fff;
    color: #000;
    text-align: left;
}

.place .place-name {
    font-weight: bold;
}

.place .place-time {
    opacity: 0.6;
}

.place .place-img {
    width: 100%;
    display: block;
}

.place .place-img:hover {
    opacity: 0.6;
}

/* Contact section */

#contact .col-half div {
    font-size: 18px;
    text-align: left;
}

#contact div i[class*="ti-"] {
    width: 32px;
    display: inline-block;
}

form input {
    padding: 8px;
    font-family: Lato;
    font-size: 15px;
    line-height: 1.5;
    border: 1px solid #ddd;
    width: 100%;
    display: inline-block;
}

form .col.col-full {
    margin-top: 8px;
}

form .send-btn {
    float: right;
    margin-top: 16px;
    padding: 0 8px;
}

/* Map */

.map {
    width: 100%;
}

/* Footer */

#footer {
    opacity: 0.6;
}

#footer .social-link li {
    list-style-type: none;
    display: inline-block;
}

#footer .social-link a {
    text-decoration: none;
    font-size: 24px;
    color: #000;
    letter-spacing: 8px;
}

#footer .social-link a:hover {
    opacity: 0.4;
}

#footer > .copy-right,
#footer .copy-right a {
    color: #000;
}

/* Buy ticket modal */

.modal-layer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    display: none;
    animation: openModal ease 0.5s;
}

.modal-container {
    position: absolute;
    width: 900px;
    max-width: calc(100% - 16px);
    min-height: 200px;
    background-color: #fff;
    animation: openModalContainer ease 0.5s;
}

.modal-close-icon {
   float: right;
   color: #fff;
   font-size: 20px;
   font-weight: bolder;
   padding: 12px;
   opacity: 0.8;
}

.modal-close-icon:hover {
    cursor: pointer;
    opacity: 1;
}

.modal-header {
    padding: 42px 16px;
    text-align: center;
    background-color: #009688;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    letter-spacing: 4px;
}

.modal-body {
    padding: 16px;
    font-size: 15px;
}

.modal-body label {
    display: block;
}

.modal-body label i {
    display: inline-block;
    font-size: 16px;
    width: 20px;
}

.modal-body label input {
    width: 100%;
    display: block;
    font-size: 15px;
    line-height: 1.5;
    padding: 8px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.modal-pay-btn {
    width: 100%;
    padding: 16px;
    background-color:#009688;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.modal-pay-btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.need-help {
    float: right;
    margin: 20px 0 16px;
}

.need-help a {
    color: #2196F3;
}

/* Buy ticket modal */

.open {
    display: flex;
}

@keyframes openModalContainer {
    from {
        transform: translateY(-120px);
    }
    
    to {
        transform: translateY(0px);
    }
}

@keyframes openModal {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}